{% extends 'base.html' %}

{% block content %}

{% if zipcode %}
    {{zipcode}}
{% endif %}

{% if api %}
    {% if api == "Error" %}
        <div class="jumbotron {{ category_color }} ">
            <h1 class="display-4">Oops... </h1>
            <p class="lead">An error occurred, Please try again...</p>
            <hr class="my-4">

            Make sure you've entered your US ZipCode correctly. <br/><br/>

            <a class="btn btn-primary btn-lg" href="https://www.airnow.gov/" role="button">Source</a>
        </div>

    {% else %}
        
        <div class="jumbotron {{ category_color }} ">
            <h1 class="display-4">{{api.0.Category.Name}} </h1>
            <p class="lead">{{api.0.ReportingArea}} Air Quality Index: {{api.0.AQI}} </p>
            <hr class="my-4">

            {{ category_description }} <br/><br/>

            <a class="btn btn-primary btn-lg" href="https://www.airnow.gov/" role="button">Source</a>
        </div>
    
    {% endif %}
{% endif %}

{% endblock %}