{% extends 'base.html' %}

{% block content %}

{% if api %}
    {% if api == "Error" %}
        An error occurred, Please try again...<br/>
    {% else %}
        
        <div class="jumbotron {{ category_color }} ">
            <h1 class="display-4">{{api.0.Category.Name}} </h1>
            <p class="lead">{{api.0.ReportingArea}} Air Quality Index: {{api.0.AQI}} </p>
            <hr class="my-4">

            {{ category_description }} <br/><br/>

            <a class="btn btn-primary btn-lg" href="https://www.airnow.gov/" role="button">Source</a>
        </div>
    
    {% endif %}
{% endif %}


{% endblock %}